/* .modal_wrap {
  display: none;
  position: fixed;
  width: 40%;
  height: 15%;
  z-index: 1;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
} */

/* .modal_container {
  border: solid 2px;
  border-color: antiquewhite;
  display: flex;
  flex-direction: column;
} */
