html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}

.header {
  height: 5%;
}

.content {
  height: 95%;
  width: 100%;
}

.column_wrap {
  height: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
}

.column_wrap::after {
  content: "";
  display: block;
  clear: both;
}

.column {
  width: 355px;
  margin-right: 16px;
  background-color: #eff1f3;
  border: 1px solid #e1e4e8 !important;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  float: left;
}
.column_header {
  height: 40px;
  padding: 8px;
}
.title_column {
  display: inline;
}

.header_container {
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}

.header_title {
  color: #fff;
  font-size: 30px;
  height: 30px;
  margin-left: 15px;
}

.btn_menu {
  position: absolute;
  right: 50px;
  font-size: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  width: 150px;
  height: 100%;
}
