.column .add_card_wrap {
  display: none;
  padding: 8px;
}

.on_add_card .add_card_wrap {
  display: block !important;
}
.add_card_btn:hover {
  opacity: 0.5;
}
.column .add_card_content {
  width: 100%;
  display: block;
  resize: vertical;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.5;
  box-sizing: border-box;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  margin-bottom: 8px;
}
.column .add_card_btn_wrap {
  display: flex;
}

.column .on_enter .add_card_btn_wrap .add_card_btn_confirm {
  background-color: #2ea44f;
}
.column .add_card_btn_wrap .add_card_btn_confirm {
  flex: 1;
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  padding: 5px 16px;
  border-radius: 6px;
  margin-right: 4px;
  color: #fff;
}
.column .add_card_btn_wrap .add_card_btn_cancel {
  flex: 1;
  padding: 5px 16px;
  border-radius: 6px;
  margin-right: 4px;
  border-color: rgba(27, 31, 35, 0.1);
}
